/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before, blockquote:after {
  content: '';
  content: none;
}

q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.section-bg .container-wraper .container {
  max-width: 500px;
  width: 100%;
}

.section-bg {
  padding-top: 30px;
  background-color: #00bfff;
}

.section-bg .container-wraper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-orient: inherit;
  -webkit-box-direction: inherit;
      -ms-flex-direction: inherit;
          flex-direction: inherit;
  width: 100%;
}

@media (max-width: 975px) {
  .section-bg .container-wraper {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.section-bg .container-wraper .container .title {
  color: white;
  font-size: 25px;
}

@media (max-width: 550px) {
  .section-bg .container-wraper .container .title {
    font-size: 15px;
  }
}

.section-bg .container-wraper .container .title::after {
  content: '';
  width: 45px;
  height: 2px;
  background-color: white;
  display: block;
  margin: 12px 0;
}

.section-bg .container-wraper .container .wraper-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media (max-width: 550px) {
  .section-bg .container-wraper .container .wraper-box {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.section-bg .container-wraper .container .wraper-box img {
  width: 100%;
  max-width: 450px;
  -webkit-transition: all 2s linear;
  transition: all 2s linear;
}

.section-bg .container-wraper .container .wraper-box img:hover {
  -webkit-filter: grayscale(100%);
          filter: grayscale(100%);
}

.section-bg .container-wraper .container .wraper-box p {
  margin-top: 15px;
  margin-bottom: 15px;
  text-align: justify;
  width: 100%;
  max-width: 450px;
  font-size: 16px;
  color: white;
}

@media (max-width: 550px) {
  .section-bg .container-wraper .container .wraper-box p {
    font-size: 8px;
  }
}
/*# sourceMappingURL=global.css.map */